/.gradle
node_modules/
packages/*/dist/
apps/web/dist/
apps/web/.output/
/build
/server/build

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# local secrets / env
.env
!.env.example

# pre-commit
.pre-commit-config.yaml
.kotlin/errors
/.idea/inspectionProfiles
/.DS_Store
/.kotlin/sessions
